# Christmas Movie Data Analysis! 

I examined the data with Python's Pandas, cleaned it then exported to CSV, which I used Microsoft Power BI for data visualization.

## Things to do:

1. Data Cleaning - Remove null, duplicates, unnecessary characters (Save csv)
2. Formulate dataframe - Movie vs TV-shows (Save csv)
3. Univariate Analysis - distribution (Rating, Runtime, imdb-rating, meta-score, genre(get the count), release year, votes, gross (box office earnings))
4. Bivariate Analysis 
    - IMDB rating vs Box office earning
    - Rating vs Box office earning

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Reading the data

df = pd.read_csv('/csv-files/christmas_movies.csv')
df.head(5)

,title,rating,runtime,imdb_rating,meta_score,genre,release_year,description,director,stars,votes,gross,img_src,type
0,Love Actually,R,135.0,7.6,55.0,"Comedy, Drama, Romance",2003.0,Follows the lives of eight very different coup...,Richard Curtis,"Hugh Grant, Martine McCutcheon, Liam Neeson, L...","491,920",$59.70M,https://m.media-amazon.com/images/M/MV5BMTY4Nj...,Movie
1,National Lampoon's Christmas Vacation,PG-13,97.0,7.5,49.0,Comedy,1989.0,The Griswold family's plans for a big family C...,Jeremiah S. Chechik,"Chevy Chase, Beverly D'Angelo, Juliette Lewis,...","198,428",$71.32M,https://m.media-amazon.com/images/M/MV5BMGZkMW...,Movie
2,Spirited,PG-13,127.0,6.6,55.0,"Comedy, Family, Musical",2022.0,A musical version of Charles Dickens's story o...,Sean Anders,"Will Ferrell, Ryan Reynolds, Octavia Spencer, ...","34,304",NaN,https://m.media-amazon.com/images/M/MV5BY2RlZG...,Movie
3,Home Alone,PG,103.0,7.7,63.0,"Comedy, Family",1990.0,"An eight-year-old troublemaker, mistakenly lef...",Chris Columbus,"Macaulay Culkin, Joe Pesci, Daniel Stern, John...","584,210",$285.76M,https://m.media-amazon.com/images/M/MV5BMzFkM2...,Movie
4,How the Grinch Stole Christmas,PG,104.0,6.3,46.0,"Comedy, Family, Fantasy",2000.0,"On the outskirts of Whoville lives a green, re...",Ron Howard,"Jim Carrey, Taylor Momsen, Kelley, Jeffrey Tam...","259,796",$260.04M,https://m.media-amazon.com/images/M/MV5BNWNiNT...,Movie

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 788 entries, 0 to 787
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         788 non-null    object
 1   rating        646 non-null    object
 2   runtime       749 non-null    float64
 3   imdb_rating   749 non-null    float64
 4   meta_score    96 non-null     float64
 5   genre         787 non-null    object
 6   release_year  780 non-null    float64
 7   description   788 non-null    object
 8   director      783 non-null    object
 9   stars         776 non-null    object
 10  votes         749 non-null    object
 11  gross         80 non-null     object
 12  img_src       788 non-null    object
 13  type          788 non-null    object
dtypes: float64(4), object(10)
memory usage: 86.3+ KB

In [4]:
# Checking the number of missing data:
df.isna().sum()

title             0
rating          142
runtime          39
imdb_rating      39
meta_score      692
genre             1
release_year      8
description       0
director          5
stars            12
votes            39
gross           708
img_src           0
type              0
dtype: int64

We have quite a few null/missing values... let's clean this below!:

## Data Cleaning:

In [5]:
df.head(1)

,title,rating,runtime,imdb_rating,meta_score,genre,release_year,description,director,stars,votes,gross,img_src,type
0,Love Actually,R,135.0,7.6,55.0,"Comedy, Drama, Romance",2003.0,Follows the lives of eight very different coup...,Richard Curtis,"Hugh Grant, Martine McCutcheon, Liam Neeson, L...","491,920",$59.70M,https://m.media-amazon.com/images/M/MV5BMTY4Nj...,Movie

#### Renaming columns for clarity

In [6]:
df.rename(columns={'gross':'box_office_amount'}, inplace=True)

#### SEPARATING MOVIE AND TV EPISODE

In [7]:
# Looking at the types of the media:
df['type'].unique()

array(['Movie', 'TV Episode'], dtype=object)

In [8]:
df_movie = df[df['type'] == 'Movie']

df_tv = df[df['type'] == 'TV Episode']

#### Dropping unnecessary columns:

In [9]:
df_movie = df_movie.drop(['description', 'director', 'stars'], axis = 1)

#### Removing dollar sign from gross column:

In [10]:
df_movie['box_office_amount'] = df_movie['box_office_amount'].str.replace('$', '')
df_movie['box_office_amount'] = df_movie['box_office_amount'].str.replace('M', '')

#### Write to the new csv file:

In [11]:
df_movie.to_csv('new_christmas_movie.csv', index=True)

#### Getting Count of Movie Genres:

In [13]:
## Achieved: Using dictionaries to get count of media per movie

genre_dict = {}

genre_from_df = list(df['genre'])
genre = []

## Spliting each unique genre string for each row.
for g in genre_from_df:
    # Check for NaN values
    if not pd.isna(g):
        g = list(g.split(','))
        for i in g:
            genre.append(i.strip())


## Using dictionaries to add counts to respective genre
for i in genre:
    if i in genre_dict:
        genre_dict[i] += 1
    else:
        genre_dict[i] = 1

In [17]:
df_genre = pd.DataFrame.from_dict(genre_dict, orient='index', columns=['count'])

#### Writing to file:

In [18]:
#### Write to the new csv file:
df_genre.to_csv('genre_count.csv', index=True)

Now we have exported two files:
- new_christmas_movie.csv
- genre_count.csv

We will work with this in our Power BI for data visualization!